.Pokecard {
    border-radius: 1rem;
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%); 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
  
  .Pokecard-title {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .Pokecard-data {
    font-size: 80%;
  }
  
  .Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 1rem;
  }
  
  .Pokecard-image img {
    width: 250px;
    opacity: 0.8;
    transition: all ease 500ms;
  }
  
  .Pokecard-image img:hover {
    transform: scale(1.25);
    opacity: 1;
  }

 